<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.things.cgomp.order.mapper.OrderDiscountMapper">

    <select id="selectDiscounts" resultType="com.things.cgomp.order.api.domain.OrderDiscount">
            select
                *
            from order_discount
            where order_id = #{orderId}
    </select>

    <select id="selectDiscountsByOrderIds" resultType="com.things.cgomp.order.api.domain.OrderDiscount">
        select
            *
        from order_discount
        where order_id in
        <foreach collection="orderIds" item="orderId" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </select>
</mapper>
