<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.things.cgomp.device.mapper.SiteMapper">

    <select id="selectSites" resultType="com.things.cgomp.device.vo.SiteVo">
        select distinct
            s.*,
            province.name provinceName,
            city.name cityName,
            district.name districtName,
            op.name operatorName
        from device_site s
         LEFT JOIN system_org_site os on os.site_id = s.id
         LEFT JOIN system_user_site us on us.site_id = s.id
         LEFT JOIN system_user_operator uop on uop.operator_id = s.operator_id
         LEFT JOIN device_site_area_code province ON s.province_code = province.id
         LEFT JOIN device_site_area_code city ON s.city_code = city.id
         LEFT JOIN device_site_area_code district ON s.district_code = district.id
         LEFT JOIN system_operator op ON s.operator_id = op.operator_id
         LEFT JOIN system_user au ON au.user_id = op.user_id
        where 1 = 1
         and s.del_flag = 0
        <if test="name != null and name !=''">
            and s.name like concat('%',#{name},'%')
        </if>
        <if test="operateStatus != null">
            and s.operate_status = #{operateStatus}
        </if>
        <if test="provinceCode != null">
            and s.province_code = #{provinceCode}
        </if>
        <if test="cityCode != null">
            and s.city_code = #{cityCode}
        </if>
        <if test="districtCode != null">
            and s.district_code = #{districtCode}
        </if>
        <if test="appDisplay != null">
            and s.app_display = #{appDisplay}
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by s.create_time desc
    </select>
    <select id="selectSiteAppList" resultType="com.things.cgomp.device.api.model.vo.SiteAppVO">
        select * from ( select
            s.id,
            s.name AS siteName,
            s.parking_info AS parkCarInfo,
            s.longitude AS lng,
            s.latitude AS lat,
            s.address,
            s.support,
            s.fee_type,
            s.is_invoice,
            province.name provinceName,
            city.name cityName,
            district.name districtName
        from device_site s
        LEFT JOIN device_site_area_code province ON s.province_code = province.id
        LEFT JOIN device_site_area_code city ON s.city_code = city.id
        LEFT JOIN device_site_area_code district ON s.district_code = district.id
        where 1=1
        and s.del_flag = 0
        and s.app_display = 1
        ) t
        where 1=1
        <if test="city != null and city != ''">
            and t.cityName   like concat('%',#{city},'%')
        </if>

        <if test="siteName != null and siteName != ''">
            and t.siteName   like concat('%',#{siteName},'%')
        </if>
        <if test="address != null and address != ''">
            and t.address   like concat('%',#{address},'%')
        </if>
        <if test="supports != null and supports.size() > 0">
            <foreach collection="supports" item="support" >
                AND  FIND_IN_SET(#{support}, t.support) > 0
            </foreach>
        </if>
    </select>

    <select id="selectSimpleSites" resultType="com.things.cgomp.device.vo.site.SimpleSiteVo">
        select distinct
            s.*
        from device_site s
        left join system_org_site os on os.site_id = s.id
        left join system_user_site us on us.site_id = s.id
        left join system_user_operator uop on uop.operator_id = s.operator_id
        where 1 = 1
          and s.del_flag = 0
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>
    <select id="selectSiteAppInfo" resultType="com.things.cgomp.device.api.model.vo.SiteAppInfoVO">
        select
            s.id,
            s.name AS siteName,
            s.parking_info AS parkCarInfo,
            s.longitude AS lng,
            s.latitude AS lat,
            s.address,
            s.support,
            s.fee_type,
            s.photos,
            s.is_invoice,
            province.name provinceName,
            city.name cityName,
            district.name districtName
        from device_site s
                 LEFT JOIN device_site_area_code province ON
            s.province_code = province.id
                 LEFT JOIN device_site_area_code city ON
            s.city_code = city.id
                 LEFT JOIN device_site_area_code district ON
            s.district_code= district.id
        where s.id = #{siteId}
          and s.del_flag = 0
          and s.app_display = 1
    </select>

    <select id="getOperatorId" resultType="java.lang.Long">
        select
            s.operator_id
        from device_site s
        where s.id = #{id}
    </select>
</mapper>
