<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.things.cgomp.common.mq.record.mapper.MqProducerFailRecordMapper">

    <update id="updateRecords">
        UPDATE mq_producer_fail_record
        SET retry_count = retry_count + 1,
            update_time = sysdate()
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>
