<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.things.cgomp.app.mapper.AppBannersMapper">

    <resultMap id="BaseResultMap" type="com.things.cgomp.app.domain.AppBanners">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="imageUrl" column="image_url" jdbcType="VARCHAR"/>
            <result property="linkUrl" column="link_url" jdbcType="VARCHAR"/>
            <result property="isActive" column="is_active" jdbcType="TINYINT"/>
            <result property="sortOrder" column="sort_order" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,image_url,
        link_url,is_active,sort_order,
        created_at,updated_at
    </sql>
    <select id="selectAllActiveBanners" resultType="com.things.cgomp.app.domain.AppBanners">
        select *
        from app_banners
        where is_active = 1
    </select>
</mapper>
