<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.things.cgomp.app.mapper.AppPaymentTypeMapper">

    <resultMap id="BaseResultMap" type="com.things.cgomp.app.domain.AppPaymentType">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="typeCode" column="type_code" jdbcType="VARCHAR"/>
            <result property="typeName" column="type_name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="isEnabled" column="is_enabled" jdbcType="TINYINT"/>
            <result property="isDefault" column="is_default" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type_code,type_name,
        description,is_enabled,is_default,
        create_time,update_time
    </sql>
    <select id="selectPaymentTypeList" resultType="com.things.cgomp.app.domain.vo.PaymentTypeDTO">
        select
        <include refid="Base_Column_List"/>
        from app_payment_type
        where is_enabled = 1
    </select>
</mapper>
