<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.things.cgomp.app.mapper.AppUserRechargeMapper">

    <resultMap id="BaseResultMap" type="com.things.cgomp.app.domain.AppUserRecharge">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="cardNo" column="card_no" jdbcType="VARCHAR"/>
            <result property="rechargeNumber" column="recharge_number" jdbcType="VARCHAR"/>
            <result property="chargeUserMobile" column="charge_user_mobile" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="beforeBalance" column="before_balance" jdbcType="DECIMAL"/>
            <result property="balance" column="balance" jdbcType="INTEGER"/>
            <result property="rechargeChannel" column="recharge_channel" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,card_no,recharge_number,
        charge_user_mobile,user_id,amount,
        before_balance,balance,recharge_channel,
        type,status,create_time
    </sql>
</mapper>
